

/*globals *********************************************/

* {margin: 0px;padding:0px;}

body {
	/*background: #FFC;*/
	/*height:10000px;*/

}

a:link  {
	color:black;
	text-decoration: none;
}
a:visited {
	color:black;
	text-decoration: none;
}
a:hover {
	color:#8ACDA3;
	cursor:default;
}
a:active {
	color:#a1a1a1;
}

/*background canvas ***********************************/

#mainCanvas{
	position:fixed;
	z-index: 0;	
}


/*left menu *******************************************/

#leftMenu{

/*	background-color: #FFEFFF;
	opacity:0.9;*/
	
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	top: 0;
	left: 0;
	bottom: 0;
	width: 143px;
	
	font-family: 'QuicksandBook';
	font-size: 14px;
	z-index: 1000;

}

#logo{
	margin-bottom: 20px;	
}

#leftMenu ul {
	/*background-color:#9999ff;*/
	clear: left;
	list-style: none;
	overflow:auto;
	position:relative;
	display:block;
	width:100%;
	
	/*cursor:default;*/
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#leftMenu li{
	line-height: 22px;
	height:22px;
}

#labsLink{
	position:fixed;
	left:20px;
	bottom:40px;
}

#gitLink{
	position:fixed;
	left:20px;
	bottom:20px;
}

/*language toggle button **************************************/

#langToggle{
	cursor:default;
	position:fixed;
	right:10px;
	top:10px;
	height:24px;
	line-height:24px;
	font-family: 'QuicksandBook';
	font-size: 14px;
	z-index: 999;
}
#langToggle_fr{
	float:left;
}
#langToggle_en{
	float:left;
}
#langToggle_separator{
	float:left;
	width:10px;
	text-align: center;
}



/*content *****************************************************/

#content{
	z-index: 997;
	position:absolute;
	padding-bottom:40px;
	left:183px;
	right:0px;
	font-family: 'pmn_caecilialight';/*'pmn_caeciliaroman'pmn_caecilialight'pmn_caecilialightitalic'*/
	font-size: 13px;
}
.contentBody{
	padding-left: 30px;	
	padding-right:20px;
	margin-top: 215px;
}
.centerText{
	width:900px;
	text-align: justify;	
}

.subcontent{
	display:none;
	width:600px;
	overflow: hidden;
}

.subcontent ul
{
	list-style-type: none;
	padding-left: 10px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.subcontent ul li
{
	background-image: url('imgs/puce.png');
	background-repeat: no-repeat;
	background-position: 0px 2px; 
	padding-left: 14px; 
}

#newsletter{
	width:280px;
	height:90px;
	border: dashed;
	border-color: #DDDDDD;
	border-width: 1px;
	padding: 5px;	
	background-color: #FFFFFF;
}
#newsletter-separator{}
#newsletter-separator{
	width:100%;
	height:1px;
	margin-top:5px;
	margin-bottom:5px;
	border-bottom: dashed;
	border-color: #DDDDDD;
	border-width: 1px;
}
#newsletter-content{
	width:100%;
	height:60px;
}
#newsletter-form-container{
	width:100%;
	height:100%;
	line-height: 60px;
	text-align: center;
}


@keyframes folding
{
	from {height: 0px;}
	to {height: 100px;}
}

@-moz-keyframes folding /* Firefox */
{
	from {height: 0px;}
	to {height: 100%;}
}

@-webkit-keyframes folding /* Safari and Chrome */
{
	from {height: 0px;}
	to {height: 100px;}
}

@-o-keyframes folding /* Opera */
{
	0% {height: 0px;}
	100% {height: 100%;}
}
